/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
.clearfix::after{/*父元素清除浮動*/
    content:'';
    display: table;
    clear: both;
}
.main{
	margin: 0 auto;
	width: 1000px;
}

.first-menu{
	padding: 5px;
	background-color: #f6f6f6;
}
.first-menu ul{
	float: right;
}
.first-menu ul li{
	float: left;
	padding: 5px;
}
.first-menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.first-menu ul li a:hover{
	text-decoration: underline;
}
.first-menu ul li img{
	float: left;
	margin-right: 5px;
}

.facebook{
	border-right: 1px solid #cccccc;
}
.facebook span{
	color: #506aa6;
}
.twitter span{
	color: #21b4ed;
}
.second-menu{
	padding: 0px 5px;
}
.second-menu h1{
	float: left;
}
.second-menu h1 a{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
	width: 200px;
	height: 55px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.second-menu>ul{
	width: 300px;
	display: flex;
	float: right;
}
.second-menu ul li{
	width: 100px;
	text-align: center;
}
.second-menu>ul>li>a{
	text-decoration: none;
	background-color: white;
	color: #00cc99;
	font-size: 16px;
	padding: 18px 15px;
	font-weight: bold;
    display: block;
	position: relative;
}
.second-menu>ul>li>a:hover,.border-green{
	border-bottom: 3px solid #00cc99;
}

.open-product{
	width: 100px;
	display: none;
	position: absolute;
	z-index: 2;
}
.open-product li{
	width: 100px;
	text-align: center;
}
.open-product li a{
	text-decoration: none;
	background-color: rgba(0, 0, 0, .8	) ;
	color: #00cc99;
	font-size: 16px;
	padding: 18px 15px;
	font-weight: bold;
	display: block;
}
.open-product li a:hover{
	background-color: rgba(0, 204, 153, 0.9);
	color: white;
}

.swiper{
	height: 350px;
	position: relative;
}
.swiper h2{
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	font-size: 38px;
	color:white;
	font-weight: bold;
	top: 25%;
	padding: 40px 0 40px 20px;
	z-index: 2;
}
.swiper img{
	width: 100%;;
	height: 100%;
}

.course{
	margin: 60px 5px 0px;
	display: flex;
	justify-content: space-around;
}
.course li{
	width: 310px;
	padding: 15px;
    border-left: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;
	box-shadow: 0px 2px 0px #d6d6d6;
}
.course img{
	text-align: center;
	width: 100%;
}
.course li h3{
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
	margin-bottom: 5px;
}
.course li p{
	font-size: 16px;
    line-height: 1.5;
	font-family: sans-serif;
    text-align: justify;
}
.jquery-ul{
	list-style-type:disc;
}
.jquery-ul li{
	border: 0;
	box-shadow: 0px 0px;
	padding: 4px 0px;
	margin-left: 15px;
}
.content-h2{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 60px;
}
.content table{
	width: 840px;
	margin: 30px 80px 0;
}
.content table th,.content table td{
	width: 210px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	font-size: 16px;
}
.content table th{
	background-color: #f7f7f7;
	font-weight:bold ;
	padding: 10px 30px 10px 25px;
	text-align: left;
}
.content table td{
	padding: 10px 0 10px 25px;
}
.green{
	color: #00a67d;
}

.content form{
	background: linear-gradient(#00644b,#009771);
	margin-top: 60px;
	padding: 20px;
}
.content form h2{
	font-size: 26px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 25px 0;
}
.customer-data{
	display: flex;
}
.customer-data textarea{
	width: 450px;
	height: 230px;
	font-size: 16px;
	resize: none;
}
input{
	display: block;
}
.input-data{
	margin-left: 40px;
	font-size: 16px;
}
.input-data label{
	color: white;
	margin-bottom: 5px;
	font-weight: bold;
}
.input-data input{
	width: 450px;
	margin-bottom: 20px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	padding: 5px 10px;
}
.button{
	text-align: right;
}
.button input{
	width: 70px;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	background-color: #00cc99;
	color: white;
	border-radius: 3px;
	border: 0;
	margin-left: auto;
}
.button input:hover{
	box-shadow: 1px 1px 10px #00cc99;
	cursor:pointer;
}

.footer{
	padding: 25px 15px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer h2 a{
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png);
	width: 170px;
	height: 35px;
	display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.contact li{
	font-size: 15px;
	line-height: 1.5;
}
.contact li a{
	font-family: sans-serif;
	color: #e75799;
	text-decoration: none;
}
.contact li a:hover{
	text-decoration: underline;
}
.top{
	font-size: 28px;
	text-align: center;
	position: fixed;
	right: 10px;
	bottom: 5px;
}
.top a{
	text-decoration: none;
	color:#00cc99;
	display: block;
}
.top p {
	font-size: 20px;
	margin-bottom: 2px;
}
